# Folders
genomes
dataset_test
rscripts_viral

# Python files
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# R files
*.RData
*.Rhistory
.Rproj.user/
.Ruserdata

# Bash scripts
*.sh~

# Temporary files
*~

# Miscellaneous
.DS_Store
basespace_access_token.txt