# Python files
complete_viruses*
databases_setup
utils/
OLD/
src/rscripts_discovery
src/rscripts_viral
genomes
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# R files
*.RData
*.Rhistory
.Rproj.user/
.Ruserdata

# Bash scripts
*.sh~

# Temporary files
*~

# Miscellaneous
.DS_Store
basespace_access_token.txt