# Python files
complete_viruses*
data/dataset_mock
data/taxdump
results/
databases_setup/
utils/
OLD/
rscripts_discovery/
genomes
venv
__pycache__/
*.pyc
*.pyo
*.pyd

# R files
*.RData
*.Rhistory
.Rproj.user/
.Ruserdata

# Bash scripts
*.sh~

# Temporary files
*~

# Miscellaneous
.DS_Store
basespace_access_token.txt